<template>
  <div class="app-container">
    <el-button :loading="downloadLoading" class="filter-item" type="primary" icon="el-icon-download"
               @click="handleDownload">
      导出订单
    </el-button>

    <el-table
      v-loading="listLoading"
      :data="list.filter(data => !search || data.projectName.toLowerCase().includes(search.toLowerCase()))"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>

      <el-table-column label="ID" width="50">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="订单编号" width="160">
        <template slot-scope="scope">
          {{ scope.row.orderNo }}
        </template>
      </el-table-column>
      <el-table-column label="项目名称" width="120">
        <template slot-scope="scope">
          {{ scope.row.projectName }}
        </template>
      </el-table-column>
      <el-table-column label="理疗师昵称" width="100">
        <template slot-scope="scope">
          {{ scope.row.physicalName }}
        </template>
      </el-table-column>

      <el-table-column label="创建时间" align="center">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 4px">{{ scope.row.createTime }}</span>
        </template>
      </el-table-column>

      <el-table-column label="支付时间" align="center">
        <template slot-scope="scope">
          <i class="el-icon-time"></i>
          <span style="margin-left: 4px">{{ scope.row.payTime }}</span>
        </template>
      </el-table-column>

      <el-table-column label="是否支付" width="100" align="center">
        <template slot-scope="scope">
          <el-tag size="mini" v-if="scope.row.payState==='已支付'" type="success">已支付</el-tag>
          <el-tag size="mini" v-else type="danger">待支付</el-tag>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="总金额" width="80" align="center">
        <template slot-scope="scope">
          {{ scope.row.price }}
        </template>
      </el-table-column>
      <el-table-column width="160" align="right">
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="输入关键字搜索"/>
        </template>
        <template slot-scope="scope">
          <el-button
            :disabled="scope.row.flag"
            size="mini"
            type="primary"
            @click="handlePay(scope.row)">支付
          </el-button>
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.row)">删除
          </el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" width="380px">
      <el-tag style="margin-left: 20px">请在5分钟之内支付，超时订单将自动取消</el-tag>
      <img :src="qrCode" alt="支付二维码">
    </el-dialog>

    <!--  分页  -->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[10,50,100]"
        :page-size="size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import Qs from 'qs'

export default {
  data() {
    return {
      dialogTitle: '订单支付',
      search: '',
      list: null,
      listLoading: true,
      page: 1, // 当前第几页
      size: 10, // 每页多少条数据
      total: 0, // 总共多少条记录
      dialogFormVisible: false,
      dialogStatus: '',
      downloadLoading: false,
      qrCode: ''
    }
  },
  created() {
    this.fetchData(this.page, this.size)
  },
  methods: {
    // 每页几条记录修改时触发
    handleSizeChange(size) {
      this.size = size;
      this.fetchData(this.page, size)
    },
    // 选择第几页后触发
    handleCurrentChange(page) {
      this.page = page;
      this.fetchData(page, this.size)
    },
    // 下载excel文件
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['ID', '订单编号', '项目名称', '理疗师昵称', '是否支付', '创建时间']
        const filterVal = ['id', 'no', 'projectName', 'physioName', 'flag', 'createTime']
        const data = this.formatJson(filterVal)
        console.log(data)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: '订单列表'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j == 'flag') {
          return v[j] == 1 ? '已支付' : '待支付'
        }
        return v[j]
      }))
    },
    // 支付订单
    handlePay(row) {
      // 把支付的模态框弹出来
      this.dialogFormVisible = true
      // 根据订单编号发起支付 显示支付二维码
      const vm = this;
      this.axios({
        url: `http://localhost:8080/alipay/qrCode`,
        method: 'post',
        data: {
          subject: row.projectName,
          code: row.orderNo,
          totalMoney: row.price
        },
        transformRequest: [function (data) {
          return Qs.stringify(data)
        }]
      }).then(function (res) {
        if (res.data.code === 200) {
          // 如果响应成功，更新表单中的数据
          let qr_code_str = res.data.data
          vm.qrCode = `http://localhost:8080/qr?content=${qr_code_str}`
          // 要求用户必须在20s之内进行支付，20s之后查询订单的状态
          const timer = setTimeout(() => {
            vm.axios({
              url: `http://localhost:8080/alipay/query/${row.orderNo}`,
              method: 'get'
            }).then(function (res) {
              if (res.data.code === 200) {
                // 发送提示信息
                vm.$notify({
                  title: '成功',
                  message: res.data.data,
                  type: 'success',
                  duration: 2000
                })
              } else {
                // 发送提示信息
                vm.$notify({
                  title: '失败',
                  message: res.data.data,
                  type: 'error',
                  duration: 2000
                })
              }
              // 隐藏模态框
              vm.dialogFormVisible = false
              // 重新查询订单列表
              vm.fetchData(vm.page, vm.size)
              clearTimeout(timer)
            });
          }, 10000);
        }
      })
    },
    // 删除订单
    handleDelete(row, index) {
      console.log(row.id)
      const vm = this
      this.axios({
        url: `http://localhost:8080/order/${row.id}`,
        method: 'delete'
      }).then(function (res) {
        if (res.data.code === 200) {
          // 如果响应成功，路由到主页面
          vm.$notify({
            title: '成功',
            message: '订单删除成功',
            type: 'success',
            duration: 2000
          })
          vm.fetchData(vm.page, vm.size)
        } else {
          // 商品更新失败
          vm.$notify({
            title: '失败',
            message: res.data.msg,
            type: 'error',
            duration: 2000
          })
        }
      })
    },
    // 获取数据
    fetchData(page, size) {
      this.listLoading = true
      // 使用axios到后端获取数据
      let vm = this;
      this.axios({
        url: 'http://localhost:8080/order/list',
        method: 'post',
        data: {
          'page': page,
          'size': size
        },
        transformRequest: [function (data) {
          return Qs.stringify(data)
        }]
      }).then(function (res) {

        if (res.data.code === 200) {
          console.log(res.data)
          console.log("后端返回的订单列表是")
          console.log(res.data.data.list)
          vm.list = res.data.data.list;
          console.log(vm.list)
          vm.total = res.data.data.total
          vm.listLoading = false
        } else {
          vm.$notify({
            title: '失败',
            message: '获取订单列表失败',
            type: 'success',
            duration: 2000
          })
        }
      })
    }
  }
}
</script>

<style scoped>
.proImg {
  width: 80px;
  border-radius: 10px;
}

.block {
  margin: 20px auto;
}

</style>
