<template>
  <div class="app-container">
    <aside>
      新手帮助，通过引导页可以快速入门项目使用方式
    </aside>
    <el-button icon="el-icon-question" type="primary" @click.prevent.stop="guide">
      新手引导
    </el-button>
  </div>
</template>

<script>
import Driver from 'driver.js' // import driver.js
import 'driver.js/dist/driver.min.css' // import driver.js css
import steps from './steps'

export default {
  name: 'Guide',
  data() {
    return {
      driver: null
    }
  },
  mounted() {
    this.driver = new Driver({ // 初始化引导页
      doneBtnText: '知道了', // 结束按钮的文字
      allowClose: false, // 是否可以通过点击遮罩层关闭指引
      stageBackground: '#fff', // 突出显示元素的背景颜色
      nextBtnText: '下一步', // 下一步按钮的文字
      prevBtnText: '上一步', // 上一步按钮的文字
      closeBtnText: '关闭', // 关闭按钮的文字
      keyboardControl: false, // 是否允许键盘操控
      xCloseButton: false // 将关闭按钮作为X放在弹出
    })
  },
  methods: {
    guide() {
      this.driver.defineSteps(steps)
      this.driver.start()
    }
  }
}
</script>
