<template>
  <div class="dashboard-container">
    <el-row :gutter="20">
      <el-col :span="8">
        <div class="card">
          <h6>服务项目数</h6>
          <span>{{statics.projectCount}}</span>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="card">
          <h6>理疗师数量</h6>
          <span>{{statics.physioCount}}</span>
        </div>
      </el-col>

      <el-col :span="8">
        <div class="card">
          <h6>订单数</h6>
          <span>{{statics.ordersCount}}</span>
        </div>
      </el-col>
    </el-row>

    <!--   跑马灯  -->
    <el-carousel height="450px" style="margin-top: 40px">
      <el-carousel-item v-for="item in statics.imgList" :key="item">
        <img :src="item" alt="">
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  data() {
    return {
      statics: {
        ordersCount: 0, // 订单数
        projectCount: 0, //项目数
        physioCount: 0, //理疗师数
        imgList: [] // 服务项目列表
      }
    }
  },
  mounted() {
    // 从后端获取统计数据
    // 服务项目数[图片] 理疗师数量 订单数量
    let vm = this;
    this.axios.get('http://localhost:8080/home').then(function (res) {
      if (res.data.code == 200) {
        vm.statics = res.data.data;
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }

  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}

.like {
  cursor: pointer;
  font-size: 25px;
  display: inline-block;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 150px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.card {
  border: cyan 1px solid;
  text-align: center;
  margin: 0 40px;
  padding: 6px 0;
  border-radius: 10px;
}

.card span {
  font-size: 30px;
}
</style>
